  <div class="row form-group padding-top-form font-color-form">
    <label  class="col-sm-2 control-label">TITLE</label>
    <div class="col-sm-8">
  {{input type="text" placeholder="title" value=title class="form-control"}}
</div>
</div>
<div class="row form-group font-color-form">
  <label  class="col-sm-2 control-label">DESCRIPTION</label>
  <div class="col-sm-8">
{{input type="textarea" placeholder="description" class="form-control" value=description}}
</div>
</div>
<div class="row form-group font-color-form">
  <label  class="col-sm-2 control-label">DATE</label>
  <div class="col-sm-2">
{{input type="date" value=date class="form-control"}}

</div>
</div>
<div class="row form-group ">
  <label  class="col-sm-2 control-label font-color-form" >STATUS</label>
  <div class="col-sm-2">
    <select onchange={{action "setSelection" value="target.value"}}>
 <option disabled selected> Select Status</option>
    <option value="todo" >todo</option>
    <option value="doing">doing</option>
      <option value="done">done</option>
</select>
</div>
</div>
<button {{action 'sendData' title description date  }} class="btn btn-lg btn-success bt-space-left">Create Note </button>
